<!-- views/listings/show.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>
    <%= owner.username %>'s riddle
  </title>
</head>

<body>

    <h2>Details</h2>
    <p>Q: <%= riddle.riddle %>
    </p>
    <p>A: <%= riddle.answer %>
    </p>

    <br><Br>

    <% if (owner._id.toString()===user._id.toString()) { %>
      <p>You own this!</p>

      <a href="/riddles/<%= riddle._id %>/edit">Edit this riddle</a><br>
     
      <form action="/riddles/<%= riddle._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this riddle</button>
      </form>
      <% } %>
</body>

</html>